@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
::selection {
	background-color: #6997F1;
	color: white;
}

::-moz-selection {
	background-color: #6997F1;
	color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.2s;
}

html {
	font-family: 'PT Sans', sans-serif;
	font-size: calc(14px + 0.3vmax);
	-webkit-font-smoothing: antialiased;
	background-color: #f6f6f6;
}

@media screen and (max-width: 56em) {
	html {
		font-size: calc(14px + 0.5vmax);
	}
}

@media screen and (max-width: 40em) {
	html {
		font-size: 18px;
	}
}

audio, canvas, progress, video {
	display: inline-block;
}

img, table, video, canvas, iframe {
	max-width: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}

hr {
	border-width: 1;
	border-style: solid;
	border-color: transparent;
	box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.15);
}

h1 {
	font-size: 2.25em;
	margin: 0;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 0.8em;
}

p {
	font-size: 1em;
}

a {
	color: #6997F1;
}

em {
	font-weight: bold;
	font-style: italic;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

s {
	text-decoration: line-through;
}

u {
	text-decoration: underline;
}

sub {
	font-size: .75em;
	vertical-align: baseline;
}

sup {
	font-size: .75em;
	vertical-align: text-top;
}

pre {
	font-family: 'Source Code Pro', Monaco, monospace;
	display: block;
	background-color: #191D25;
	color: #f5f5f5;
	margin: 0.4em 0.2em 0.4em 0.2em;
	padding: .4em;
}

pre code {
	font-family: 'Source Code Pro', Monaco, monospace;
	background-color: inherit;
	color: inherit;
	font-size: 1em;
	line-height: 1em;
	padding: none;
	border: none;
}

abbr {
	color: #EFC075;
	border-bottom: 1px dotted #EFC075;
}

code {
	font-family: 'Source Code Pro', Monaco, monospace;
	background-color: #ddd;
	color: #222;
	font-size: 0.9em;
	line-height: 1em;
	padding: 0 .2em 0 .2em;
	border: 1px solid #999;
}

mark {
	background-color: #E28AAC;
}

samp {
	font-family: 'Source Code Pro', Monaco, monospace;
}

small {
	font-size: .7em;
}

kbd {
	font-size: .8em;
	font-weight: bold;
	padding: 0 .2em 0 .2em;
	background-color: white;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc;
}

blockquote {
	background-image: url("../img/quotes1.svg"), url("../img/quotes2.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: top right, bottom left;
	background-size: 3em, 3em;
	width: 30em;
	padding: 1em 3em;
	margin: 1em auto;
}

.card, .card-r, .form-glue input[type="text"], .form-glue__label, .form-glue__text, .progress-bar, .stack-glue input[type="text"], .stack-glue-list input[type="text"], .alert--false, .alert--true, .alert--base, .alert--highlight, .alert--check, .alert--note {
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
}

.card-r {
	border-radius: 0.15em;
}

.sm {
	font-size: 0.75em !important;
}

.lg {
	font-size: 1.4em !important;
}

.clearfix:after {
	content: " ";
	display: table;
	clear: both;
}

.textcenter {
	margin: auto !important;
	text-align: center !important;
}

.blockcenter {
	display: block !important;
	margin: auto !important;
}

.spread {
	display: inline-block !important;
	width: 100% !important;
}

.stripped {
	background-color: none !important;
	border: none !important;
}

.inline-text {
	display: inline !important;
}

.inline-child > * {
	display: inline-block;
}

.leftalign {
	text-align: left !important;
}

.disabled {
	background-color: #d5d5d5 !important;
	color: #999 !important;
	cursor: not-allowed !important;
}

.disabled:hover {
	background: #d5d5d5 !important;
	color: #999 !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.aligner > * + * {
	margin-top: 1em;
}

.base {
	color: #6997F1;
}

.true {
	color: #A7DB69;
}

.false {
	color: #EF6159;
}

.note {
	color: #A788D8;
}

.highlight {
	color: #E28AAC;
}

.check {
	color: #EFC075;
}

.grey1 {
	color: #191D25;
}

.grey2 {
	color: #22262D;
}

.grey3 {
	color: #2A2E33;
}

.grey4 {
	color: #32363A;
}

.grey5 {
	color: #3A3D3F;
}

.grey6 {
	color: #484B4C;
}

.grey7 {
	color: #727575;
}

.grey8 {
	color: #939393;
}

.bg-base {
	background: #6997F1;
}

.bg-true {
	background: #A7DB69;
}

.bg-false {
	background: #EF6159;
}

.bg-note {
	background: #A788D8;
}

.bg-highlight {
	background: #E28AAC;
}

.bg-check {
	background: #EFC075;
}

.bg-grey1 {
	background: #191D25;
}

.bg-grey2 {
	background: #22262D;
}

.bg-grey3 {
	background: #2A2E33;
}

.bg-grey4 {
	background: #32363A;
}

.bg-grey5 {
	background: #3A3D3F;
}

.bg-grey6 {
	background: #484B4C;
}

.bg-grey7 {
	background: #727575;
}

.bg-grey8 {
	background: #939393;
}

.bg-white {
	background: #ffffff;
}

.margo {
	margin: 0.4em;
}

.img-sm {
	height: 2em;
	float: left;
}

.top-bar {
	display: block;
	background: linear-gradient(#5287ef 0%, #2366ea 100%);
	border-bottom: 2px solid #1559df;
	width: 100%;
	padding: 0.2em;
	color: white;
}

.top-bar nav {
	display: inline-block;
	float: right;
	font-weight: bold;
	margin-top: 0.5em;
}

.top-bar nav * + * {
	margin-left: 0.5em;
}

.top-bar nav * {
	color: inherit;
	text-decoration: none;
	padding: 0.5em;
}

.top-bar nav *:hover {
	background: rgba(0, 0, 0, 0.2);
}

.brand {
	color: inherit;
	display: inline-block;
}

.top-bar-input {
	vertical-align: super;
	padding: 0.3em;
	width: 30%;
	margin: 0 1em;
	border-radius: 0.2em;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.cta {
	max-width: 60em;
}

.cta * + * {
	margin-top: 1em;
}

.cta-button {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 1px solid #3a77ed;
	border-radius: 0.2em;
	background-color: #6997F1;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	color: white;
}

.cta-button:hover {
	background: #3a77ed;
}

.feature-item {
	float: left;
	width: calc(100% * 1 / 3 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 3);
	margin-top: 1em;
	margin-bottom: 1em;
}

@media screen and (max-width: 56em) {
	.feature-item {
		width: calc(50% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.feature-item {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.feature-item img {
	height: 6em;
	display: block;
	margin: 1em auto;
}

.feature-item h1, .feature-item h2, .feature-item h3, .feature-item h4, .feature-item h5, .feature-item h6 {
	text-align: center;
}

.feature-item p {
	text-align: justify;
}

.nav-inline {
	margin: 0.4em 0 0.4em 1em;
	list-style: none;
}

.nav-inline a {
	display: inline-block;
}

.close {
	border: 0;
	background: none;
	color: inherit;
	float: right;
	font-size: 1.2em;
	cursor: pointer;
}

.close:focus {
	outline: none;
}

.subtitle {
	background: #6997F1;
	padding: 2em;
}

.subtitle:after {
	content: " ";
	display: table;
	clear: both;
}

.subtitle__text {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.media-object header {
	display: table;
	margin: 1em 0 0 1em;
}

.media-img {
	display: table-cell;
	vertical-align: top;
	width: 3em;
}

.media-meta {
	display: table-cell;
	padding-left: 0.5em;
	vertical-align: top;
	width: auto;
}

.media-content {
	margin: 1em;
}

.comments {
	border-top: 1px solid #999;
	background: #f5f5ff;
}

.media-nested {
	margin: 1em 0 0 2em;
}

.media-nested header {
	display: table;
	margin: 1em 0 0 1em;
}

.thumbnail {
	display: inline-block;
	padding: 0.2em;
}

.thumbnail h1, .thumbnail h2, .thumbnail h3, .thumbnail h4, .thumbnail h5, .thumbnail h6, .thumbnail p, .thumbnail a {
	margin: 0.4em 0.4em 0.8em 0.4em;
}

.thumbnail a {
	display: inline-block;
}

.stack-list {
	list-style: none;
}

.stack-list li {
	display: block;
	padding: 0.4em 1em;
}

.stack-list li a {
	text-decoration: none;
}

.stack-list li a:hover {
	color: inherit;
}

.panel-nav {
	padding: 0 !important;
}

.panel-nav * + * {
	margin-left: -.25em !important;
}

.panel-nav a {
	display: inline-block;
	margin: 0;
	padding: 0.4em 1em;
	text-decoration: none;
	color: inherit;
}

.panel-nav a:hover {
	background: #6997F1;
}

.form-glue {
	display: inline-block;
	height: 2em;
	vertical-align: middle;
}

.form-glue input[type="text"] {
	white-space: nowrap;
}

.form-glue input[type="text"]:focus {
	outline: none;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 5em 0px rgba(105, 151, 241, 0.2);
}

.form-glue > :last-child {
	border-radius: 0 0.2em 0.2em 0;
}

.form-glue > :first-child {
	border-radius: 0.2em 0 0 0.2em;
}

.form-glue > :not(:first-child) {
	border-left: 0;
}

.form-glue > :not(:first-child):not(:last-child) {
	border-radius: 0;
	border-left: 0;
}

.form-glue > * {
	display: inline-block;
	padding: 0.2em 1em;
	white-space: nowrap;
	font-size: 1em;
	min-height: 2em;
	max-height: 2em;
	border-collapse: separate;
	float: left;
}

.form-glue__label {
	color: #666;
	text-align: center;
}

.form-glue__text {
	white-space: nowrap;
	width: 100%;
}

.form-glue__text:focus {
	outline: none;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 5em 0px rgba(105, 151, 241, 0.2);
}

.form-glue__check {
	width: 2em;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	padding: 0;
	display: flex;
	align-items: center;
}

.form-glue__check label {
	width: 1.2em;
	height: 1.2em;
	border-radius: .1em;
	margin: auto;
	background-color: transparent;
}

.form-glue__check label:hover {
	background-color: rgba(105, 151, 241, 0.3);
}

.form-glue__check input[type=checkbox] {
	display: none;
}

.form-glue__check input[type=checkbox]:checked + label {
	background-color: #6997F1;
}

.progress-bar {
	height: 2em;
	background: #ccc;
}

.holder {
	width: 100%;
	display: block;
}

.holder:after {
	content: " ";
	display: table;
	clear: both;
}

.land {
	min-height: 100vh;
	width: 100%;
	background: white;
}

.flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	height: auto;
	background: white;
	width: 100%;
	padding: 1em;
}

.rainbow-separator {
	height: 0.4em;
	width: 100%;
	background: linear-gradient(to right, #EF6159 0%, 16.6%, #EFC075 33.3%, #A7DB69 50%, #6997F1 66.6%, #A788D8 83.3%, #E28AAC 100%);
}

.container {
	width: 100%;
	max-width: 60em;
	margin: auto;
}

.container:after {
	content: " ";
	display: table;
	clear: both;
}

.subwrapper {
	float: left;
	width: calc(100% * 1 / 3 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 1 / 3);
}

@media screen and (max-width: 56em) {
	.subwrapper {
		width: calc(50% - 1em);
		margin: initial auto initial auto;
	}
}

@media screen and (max-width: 40em) {
	.subwrapper {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.wall {
	float: left;
	width: calc(100% * 2 / 3 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 3);
	margin-top: 1em;
	margin-bottom: 1em;
}

@media screen and (max-width: 56em) {
	.wall {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.wall {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.wall > * + * {
	margin-top: 1em;
}

.content-bar {
	float: left;
	width: calc(100% * 1 / 3 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 3);
	margin-top: 1em;
	margin-bottom: 1em;
}

@media screen and (max-width: 56em) {
	.content-bar {
		width: calc(50% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.content-bar {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.content-bar > * + * {
	margin-top: 1em;
}

.stack-glue, .stack-glue-list {
	display: block;
	width: 100%;
}

.stack-glue input[type="text"], .stack-glue-list input[type="text"] {
	white-space: nowrap;
	height: 2em;
	font-size: 1em;
	line-height: 1em;
}

.stack-glue input[type="text"]:focus, .stack-glue-list input[type="text"]:focus {
	outline: none;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 5em 0px rgba(105, 151, 241, 0.2);
}

.stack-glue > *, .stack-glue-list > * {
	width: 100%;
	display: block;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.stack-glue * + *, .stack-glue-list * + * {
	border-top: 0 !important;
}

.stack-glue > :last-child, .stack-glue-list > :last-child {
	border-radius: 0 0 0.2em 0.2em;
}

.stack-glue > :last-child li:last-of-type, .stack-glue-list > :last-child li:last-of-type {
	border-radius: 0 0 0.2em 0.2em;
}

.stack-glue > :first-child, .stack-glue-list > :first-child {
	border-radius: 0.2em 0.2em 0 0;
}

.stack-glue > :first-child li:first-of-type, .stack-glue-list > :first-child li:first-of-type {
	border-radius: 0.2em 0.2em 0 0;
}

.stack-glue-list a {
	color: #333;
}

.table {
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.2em;
	border-collapse: collapse;
}

.table tr:last-child, .table td:first-child {
	border-bottom-left-radius: 0.2em;
}

.table tr:last-child, .table td:last-child {
	border-bottom-right-radius: 0.2em;
}

.table tr:nth-of-type(even) {
	background: rgba(204, 204, 204, 0.2);
}

.table tbody {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.table * {
	border: none;
	padding: 0.4em;
}

.table th {
	background: #ccc;
	color: #191D25;
}

.bottom-footer {
	width: 100%;
	background-color: #191D25;
	color: #999;
}

.bottom-footer:after {
	content: " ";
	display: table;
	clear: both;
}

.bottom-footer__item {
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline-block;
	float: left;
	width: calc(100% * 1 / 3 - 0.4em);
	margin-right: calc(0.4em / 2);
	margin-left: calc(0.4em / 2 + 100% * 0 / 3);
}

@media screen and (max-width: 56em) {
	.bottom-footer__item {
		width: calc(50% - 0.4em);
		margin-left: calc(0.4em / 2);
	}
}

@media screen and (max-width: 40em) {
	.bottom-footer__item {
		width: calc(100% - 0.4em);
		margin-left: calc(0.4em / 2);
	}
}

.ribbon--base {
	background: #6997F1;
	color: white;
	border-top: 1px solid #3a77ed;
	border-bottom: 1px solid #3a77ed;
	padding: 0.1em 3em;
	position: absolute;
	top: 1.5em;
	right: -2em;
	transform: rotate(45deg);
}

.ribbon--true {
	background: #A7DB69;
	color: white;
	border-top: 1px solid #8fd140;
	border-bottom: 1px solid #8fd140;
	padding: 0.1em 3em;
	position: absolute;
	top: 1.5em;
	right: -2em;
	transform: rotate(45deg);
}

.ribbon--false {
	background: #EF6159;
	color: white;
	border-top: 1px solid #eb352a;
	border-bottom: 1px solid #eb352a;
	padding: 0.1em 3em;
	position: absolute;
	top: 1.5em;
	right: -2em;
	transform: rotate(45deg);
}

.ribbon--note {
	background: #A788D8;
	color: white;
	border-top: 1px solid #8b62cb;
	border-bottom: 1px solid #8b62cb;
	padding: 0.1em 3em;
	position: absolute;
	top: 1.5em;
	right: -2em;
	transform: rotate(45deg);
}

.ribbon--check {
	background: #EFC075;
	color: white;
	border-top: 1px solid #eaab47;
	border-bottom: 1px solid #eaab47;
	padding: 0.1em 3em;
	position: absolute;
	top: 1.5em;
	right: -2em;
	transform: rotate(45deg);
}

.ribbon--highlight {
	background: #E28AAC;
	color: white;
	border-top: 1px solid #d8618f;
	border-bottom: 1px solid #d8618f;
	padding: 0.1em 3em;
	position: absolute;
	top: 1.5em;
	right: -2em;
	transform: rotate(45deg);
}

.badge--base {
	font-size: 0.7em;
	border-radius: 1em;
	padding: 0.1em 0.6em;
	margin-left: 0.4em;
	vertical-align: 0.2em;
	color: white;
	background-color: #6997F1;
}

.badge--false {
	font-size: 0.7em;
	border-radius: 1em;
	padding: 0.1em 0.6em;
	margin-left: 0.4em;
	vertical-align: 0.2em;
	color: white;
	background-color: #EF6159;
}

.badge--true {
	font-size: 0.7em;
	border-radius: 1em;
	padding: 0.1em 0.6em;
	margin-left: 0.4em;
	vertical-align: 0.2em;
	color: white;
	background-color: #A7DB69;
}

.badge--check {
	font-size: 0.7em;
	border-radius: 1em;
	padding: 0.1em 0.6em;
	margin-left: 0.4em;
	vertical-align: 0.2em;
	color: white;
	background-color: #EFC075;
}

.badge--note {
	font-size: 0.7em;
	border-radius: 1em;
	padding: 0.1em 0.6em;
	margin-left: 0.4em;
	vertical-align: 0.2em;
	color: white;
	background-color: #A788D8;
}

.badge--highlight {
	font-size: 0.7em;
	border-radius: 1em;
	padding: 0.1em 0.6em;
	margin-left: 0.4em;
	vertical-align: 0.2em;
	color: white;
	background-color: #E28AAC;
}

.alert--false {
	display: block;
	padding: 1em 1em;
	background-color: #fad0cd;
	color: #b71a12;
}

.alert--true {
	display: block;
	padding: 1em 1em;
	background-color: #e3f4d0;
	color: #689e26;
}

.alert--base {
	display: block;
	padding: 1em 1em;
	background-color: #dee8fc;
	color: #1350c8;
}

.alert--highlight {
	display: block;
	padding: 1em 1em;
	background-color: #fbf0f4;
	color: #be2f66;
}

.alert--check {
	display: block;
	padding: 1em 1em;
	background-color: #fcf4e7;
	color: #cd8718;
}

.alert--note {
	display: block;
	padding: 1em 1em;
	background-color: #eee8f7;
	color: #6337a9;
}

.callout {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 1em 1em;
	border-left: 0.4em solid rgba(0, 0, 0, 0.2);
}

.callout h1, .callout h2, .callout h3, .callout h4, .callout h5, .callout a {
	color: rgba(0, 0, 0, 0.2);
}

.callout--base {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 1em 1em;
	border-left: 0.4em solid #6997F1;
}

.callout--base h1, .callout--base h2, .callout--base h3, .callout--base h4, .callout--base h5, .callout--base a {
	color: #6997F1;
}

.callout--true {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 1em 1em;
	border-left: 0.4em solid #A7DB69;
}

.callout--true h1, .callout--true h2, .callout--true h3, .callout--true h4, .callout--true h5, .callout--true a {
	color: #A7DB69;
}

.callout--false {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 1em 1em;
	border-left: 0.4em solid #EF6159;
}

.callout--false h1, .callout--false h2, .callout--false h3, .callout--false h4, .callout--false h5, .callout--false a {
	color: #EF6159;
}

.callout--check {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 1em 1em;
	border-left: 0.4em solid #EFC075;
}

.callout--check h1, .callout--check h2, .callout--check h3, .callout--check h4, .callout--check h5, .callout--check a {
	color: #EFC075;
}

.callout--highlight {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 1em 1em;
	border-left: 0.4em solid #E28AAC;
}

.callout--highlight h1, .callout--highlight h2, .callout--highlight h3, .callout--highlight h4, .callout--highlight h5, .callout--highlight a {
	color: #E28AAC;
}

.callout--note {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 1em 1em;
	border-left: 0.4em solid #A788D8;
}

.callout--note h1, .callout--note h2, .callout--note h3, .callout--note h4, .callout--note h5, .callout--note a {
	color: #A788D8;
}

.progress {
	height: 2em;
	background: #191D25;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: white;
}

.progress span {
	display: inline-block;
	margin-top: 0.2em;
	color: #191D25;
}

.progress--base {
	height: 2em;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #6997F1;
}

.progress--base span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--true {
	height: 2em;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #A7DB69;
}

.progress--true span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--false {
	height: 2em;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #EF6159;
}

.progress--false span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--check {
	height: 2em;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #EFC075;
}

.progress--check span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--note {
	height: 2em;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #A788D8;
}

.progress--note span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--highlight {
	height: 2em;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #E28AAC;
}

.progress--highlight span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress-striped {
	height: 2em;
	background: white;
	background: repeating-linear-gradient(45deg, white, white 1em, #e6e6e6 1em, #e6e6e6 2em);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.progress-striped span {
	display: inline-block;
	margin-top: 0.2em;
	color: #191D25;
}

.progress--base-striped {
	height: 2em;
	background: #6997F1;
	background: repeating-linear-gradient(45deg, #6997F1, #6997F1 1em, #3a77ed 1em, #3a77ed 2em);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.progress--base-striped span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--true-striped {
	height: 2em;
	background: #A7DB69;
	background: repeating-linear-gradient(45deg, #A7DB69, #A7DB69 1em, #8fd140 1em, #8fd140 2em);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.progress--true-striped span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--false-striped {
	height: 2em;
	background: #EF6159;
	background: repeating-linear-gradient(45deg, #EF6159, #EF6159 1em, #eb352a 1em, #eb352a 2em);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.progress--false-striped span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--check-striped {
	height: 2em;
	background: #EFC075;
	background: repeating-linear-gradient(45deg, #EFC075, #EFC075 1em, #eaab47 1em, #eaab47 2em);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.progress--check-striped span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--note-striped {
	height: 2em;
	background: #A788D8;
	background: repeating-linear-gradient(45deg, #A788D8, #A788D8 1em, #8b62cb 1em, #8b62cb 2em);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.progress--note-striped span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.progress--highlight-striped {
	height: 2em;
	background: #E28AAC;
	background: repeating-linear-gradient(45deg, #E28AAC, #E28AAC 1em, #d8618f 1em, #d8618f 2em);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.progress--highlight-striped span {
	display: inline-block;
	margin-top: 0.2em;
	color: white;
}

.stack-header {
	padding: 0.4em 1em;
	background: transparent;
	color: #191D25;
}

.stack-header--base {
	padding: 0.4em 1em;
	background: #6997F1;
	color: white;
}

.stack-header--true {
	padding: 0.4em 1em;
	background: #A7DB69;
	color: white;
}

.stack-header--false {
	padding: 0.4em 1em;
	background: #EF6159;
	color: white;
}

.stack-header--check {
	padding: 0.4em 1em;
	background: #EFC075;
	color: white;
}

.stack-header--note {
	padding: 0.4em 1em;
	background: #A788D8;
	color: white;
}

.stack-header--highlight {
	padding: 0.4em 1em;
	background: #E28AAC;
	color: white;
}

.panel > :first-child {
	background: rgba(0, 0, 0, 0.15);
	color: white;
	padding: 0.4em 1em;
	border-radius: 0.15rem 0.15rem 0 0;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
	background: rgba(0, 0, 0, 0.15);
	color: white;
}

.panel p:not(:first-child), .panel a {
	margin: 0.4em 1em;
}

.panel--base > :first-child {
	background: #6997F1;
	color: white;
	padding: 0.4em 1em;
	border-radius: 0.15rem 0.15rem 0 0;
}

.panel--base h1, .panel--base h2, .panel--base h3, .panel--base h4, .panel--base h5, .panel--base h6 {
	background: #6997F1;
	color: white;
}

.panel--base p:not(:first-child), .panel--base a {
	margin: 0.4em 1em;
}

.panel--true > :first-child {
	background: #A7DB69;
	color: white;
	padding: 0.4em 1em;
	border-radius: 0.15rem 0.15rem 0 0;
}

.panel--true h1, .panel--true h2, .panel--true h3, .panel--true h4, .panel--true h5, .panel--true h6 {
	background: #A7DB69;
	color: white;
}

.panel--true p:not(:first-child), .panel--true a {
	margin: 0.4em 1em;
}

.panel--false > :first-child {
	background: #EF6159;
	color: white;
	padding: 0.4em 1em;
	border-radius: 0.15rem 0.15rem 0 0;
}

.panel--false h1, .panel--false h2, .panel--false h3, .panel--false h4, .panel--false h5, .panel--false h6 {
	background: #EF6159;
	color: white;
}

.panel--false p:not(:first-child), .panel--false a {
	margin: 0.4em 1em;
}

.panel--check > :first-child {
	background: #EFC075;
	color: white;
	padding: 0.4em 1em;
	border-radius: 0.15rem 0.15rem 0 0;
}

.panel--check h1, .panel--check h2, .panel--check h3, .panel--check h4, .panel--check h5, .panel--check h6 {
	background: #EFC075;
	color: white;
}

.panel--check p:not(:first-child), .panel--check a {
	margin: 0.4em 1em;
}

.panel--note > :first-child {
	background: #A788D8;
	color: white;
	padding: 0.4em 1em;
	border-radius: 0.15rem 0.15rem 0 0;
}

.panel--note h1, .panel--note h2, .panel--note h3, .panel--note h4, .panel--note h5, .panel--note h6 {
	background: #A788D8;
	color: white;
}

.panel--note p:not(:first-child), .panel--note a {
	margin: 0.4em 1em;
}

.panel--highlight > :first-child {
	background: #E28AAC;
	color: white;
	padding: 0.4em 1em;
	border-radius: 0.15rem 0.15rem 0 0;
}

.panel--highlight h1, .panel--highlight h2, .panel--highlight h3, .panel--highlight h4, .panel--highlight h5, .panel--highlight h6 {
	background: #E28AAC;
	color: white;
}

.panel--highlight p:not(:first-child), .panel--highlight a {
	margin: 0.4em 1em;
}

.table--base {
	width: 100%;
	border: 1px solid #6997F1;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.2em;
	border-collapse: collapse;
}

.table--base tr:last-child, .table--base td:first-child {
	border-bottom-left-radius: 0.2em;
}

.table--base tr:last-child, .table--base td:last-child {
	border-bottom-right-radius: 0.2em;
}

.table--base tr:nth-of-type(even) {
	background: rgba(105, 151, 241, 0.2);
}

.table--base tbody {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.table--base * {
	border: none;
	padding: 0.4em;
}

.table--base th {
	background: #6997F1;
	color: white;
}

.table--true {
	width: 100%;
	border: 1px solid #A7DB69;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.2em;
	border-collapse: collapse;
}

.table--true tr:last-child, .table--true td:first-child {
	border-bottom-left-radius: 0.2em;
}

.table--true tr:last-child, .table--true td:last-child {
	border-bottom-right-radius: 0.2em;
}

.table--true tr:nth-of-type(even) {
	background: rgba(167, 219, 105, 0.2);
}

.table--true tbody {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.table--true * {
	border: none;
	padding: 0.4em;
}

.table--true th {
	background: #A7DB69;
	color: white;
}

.table--false {
	width: 100%;
	border: 1px solid #EF6159;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.2em;
	border-collapse: collapse;
}

.table--false tr:last-child, .table--false td:first-child {
	border-bottom-left-radius: 0.2em;
}

.table--false tr:last-child, .table--false td:last-child {
	border-bottom-right-radius: 0.2em;
}

.table--false tr:nth-of-type(even) {
	background: rgba(239, 97, 89, 0.2);
}

.table--false tbody {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.table--false * {
	border: none;
	padding: 0.4em;
}

.table--false th {
	background: #EF6159;
	color: white;
}

.table--check {
	width: 100%;
	border: 1px solid #EFC075;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.2em;
	border-collapse: collapse;
}

.table--check tr:last-child, .table--check td:first-child {
	border-bottom-left-radius: 0.2em;
}

.table--check tr:last-child, .table--check td:last-child {
	border-bottom-right-radius: 0.2em;
}

.table--check tr:nth-of-type(even) {
	background: rgba(239, 192, 117, 0.2);
}

.table--check tbody {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.table--check * {
	border: none;
	padding: 0.4em;
}

.table--check th {
	background: #EFC075;
	color: white;
}

.table--note {
	width: 100%;
	border: 1px solid #A788D8;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.2em;
	border-collapse: collapse;
}

.table--note tr:last-child, .table--note td:first-child {
	border-bottom-left-radius: 0.2em;
}

.table--note tr:last-child, .table--note td:last-child {
	border-bottom-right-radius: 0.2em;
}

.table--note tr:nth-of-type(even) {
	background: rgba(167, 136, 216, 0.2);
}

.table--note tbody {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.table--note * {
	border: none;
	padding: 0.4em;
}

.table--note th {
	background: #A788D8;
	color: white;
}

.table--highlight {
	width: 100%;
	border: 1px solid #E28AAC;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-radius: 0.2em;
	border-collapse: collapse;
}

.table--highlight tr:last-child, .table--highlight td:first-child {
	border-bottom-left-radius: 0.2em;
}

.table--highlight tr:last-child, .table--highlight td:last-child {
	border-bottom-right-radius: 0.2em;
}

.table--highlight tr:nth-of-type(even) {
	background: rgba(226, 138, 172, 0.2);
}

.table--highlight tbody {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.table--highlight * {
	border: none;
	padding: 0.4em;
}

.table--highlight th {
	background: #E28AAC;
	color: white;
}

.btn {
	padding: 0.2em 0.8em;
	border-radius: 0.1em;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: rgba(255, 255, 255, 0.2);
	color: #191D25;
}

.btn:hover {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	background: rgba(204, 204, 204, 0.2);
}

.btn--base {
	padding: 0.2em 0.8em;
	border-radius: 0.1em;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #6997F1;
	color: white;
}

.btn--base:hover {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	background: #1559df;
}

.btn--true {
	padding: 0.2em 0.8em;
	border-radius: 0.1em;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #A7DB69;
	color: white;
}

.btn--true:hover {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	background: #75b32b;
}

.btn--false {
	padding: 0.2em 0.8em;
	border-radius: 0.1em;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #EF6159;
	color: white;
}

.btn--false:hover {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	background: #ce1e14;
}

.btn--check {
	padding: 0.2em 0.8em;
	border-radius: 0.1em;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #EFC075;
	color: white;
}

.btn--check:hover {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	background: #e4961a;
}

.btn--note {
	padding: 0.2em 0.8em;
	border-radius: 0.1em;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #A788D8;
	color: white;
}

.btn--note:hover {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	background: #6f3ebc;
}

.btn--highlight {
	padding: 0.2em 0.8em;
	border-radius: 0.1em;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #E28AAC;
	color: white;
}

.btn--highlight:hover {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	background: #ce3872;
}

.btn--dark {
	padding: 0.2em 0.8em;
	border-radius: 0.1em;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	background: #191D25;
	color: white;
}

.btn--dark:hover {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	background: black;
}

.cta-btn--base {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 1px solid #3a77ed;
	border-radius: 0.2em;
	background-color: #6997F1;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	color: white;
}

.cta-btn--base:hover {
	background: #3a77ed;
}

.cta-btn--true {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 1px solid #8fd140;
	border-radius: 0.2em;
	background-color: #A7DB69;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	color: white;
}

.cta-btn--true:hover {
	background: #8fd140;
}

.cta-btn--false {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 1px solid #eb352a;
	border-radius: 0.2em;
	background-color: #EF6159;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	color: white;
}

.cta-btn--false:hover {
	background: #eb352a;
}

.cta-btn--check {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 1px solid #eaab47;
	border-radius: 0.2em;
	background-color: #EFC075;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	color: white;
}

.cta-btn--check:hover {
	background: #eaab47;
}

.cta-btn--note {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 1px solid #8b62cb;
	border-radius: 0.2em;
	background-color: #A788D8;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	color: white;
}

.cta-btn--note:hover {
	background: #8b62cb;
}

.cta-btn--highlight {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 1px solid #d8618f;
	border-radius: 0.2em;
	background-color: #E28AAC;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	color: white;
}

.cta-btn--highlight:hover {
	background: #d8618f;
}

.cta-btn--dark {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 1px solid #040507;
	border-radius: 0.2em;
	background-color: #191D25;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	color: white;
}

.cta-btn--dark:hover {
	background: #040507;
}

.btn-pill--base {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid #6997F1;
	border-radius: 1.5em;
	color: #6997F1;
}

.btn-pill--base:hover {
	background: #6997F1;
	color: white;
}

.btn-pill--true {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid #A7DB69;
	border-radius: 1.5em;
	color: #A7DB69;
}

.btn-pill--true:hover {
	background: #A7DB69;
	color: white;
}

.btn-pill--false {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid #EF6159;
	border-radius: 1.5em;
	color: #EF6159;
}

.btn-pill--false:hover {
	background: #EF6159;
	color: white;
}

.btn-pill--check {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid #EFC075;
	border-radius: 1.5em;
	color: #EFC075;
}

.btn-pill--check:hover {
	background: #EFC075;
	color: white;
}

.btn-pill--note {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid #A788D8;
	border-radius: 1.5em;
	color: #A788D8;
}

.btn-pill--note:hover {
	background: #A788D8;
	color: white;
}

.btn-pill--highlight {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid #E28AAC;
	border-radius: 1.5em;
	color: #E28AAC;
}

.btn-pill--highlight:hover {
	background: #E28AAC;
	color: white;
}

.btn-pill--dark {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid #191D25;
	border-radius: 1.5em;
	color: #191D25;
}

.btn-pill--dark:hover {
	background: #191D25;
	color: white;
}

.btn-pill-i--base {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 1.5em;
	color: white;
	background: #6997F1;
}

.btn-pill-i--base:hover {
	background: transparent;
	color: #6997F1;
	border: 2px solid #6997F1;
}

.btn-pill-i--true {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 1.5em;
	color: white;
	background: #A7DB69;
}

.btn-pill-i--true:hover {
	background: transparent;
	color: #A7DB69;
	border: 2px solid #A7DB69;
}

.btn-pill-i--false {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 1.5em;
	color: white;
	background: #EF6159;
}

.btn-pill-i--false:hover {
	background: transparent;
	color: #EF6159;
	border: 2px solid #EF6159;
}

.btn-pill-i--check {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 1.5em;
	color: white;
	background: #EFC075;
}

.btn-pill-i--check:hover {
	background: transparent;
	color: #EFC075;
	border: 2px solid #EFC075;
}

.btn-pill-i--note {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 1.5em;
	color: white;
	background: #A788D8;
}

.btn-pill-i--note:hover {
	background: transparent;
	color: #A788D8;
	border: 2px solid #A788D8;
}

.btn-pill-i--highlight {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 1.5em;
	color: white;
	background: #E28AAC;
}

.btn-pill-i--highlight:hover {
	background: transparent;
	color: #E28AAC;
	border: 2px solid #E28AAC;
}

.btn-pill-i--dark {
	display: inline-block;
	padding: 0.5em 1.8em;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 1.5em;
	color: white;
	background: #191D25;
}

.btn-pill-i--dark:hover {
	background: transparent;
	color: #191D25;
	border: 2px solid #191D25;
}

.card--main {
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
}

.card--dark {
	border: 1px solid #191D25;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
}

.card--base {
	border: 1px solid #6997F1;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
}

.card--true {
	border: 1px solid #A7DB69;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
}

.card--false {
	border: 1px solid #EF6159;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
}

.card--check {
	border: 1px solid #EFC075;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
}

.card--note {
	border: 1px solid #A788D8;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
}

.card--highlight {
	border: 1px solid #E28AAC;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
	padding: 0.5em;
}

.col-1 {
	float: left;
	width: calc(100% * 1 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-1 {
		width: calc(33% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-1 {
		width: calc(50% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-2 {
	float: left;
	width: calc(100% * 2 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-2 {
		width: calc(33% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-2 {
		width: calc(50% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-3 {
	float: left;
	width: calc(100% * 3 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-3 {
		width: calc(50% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-3 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-4 {
	float: left;
	width: calc(100% * 4 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-4 {
		width: calc(50% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-4 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-5 {
	float: left;
	width: calc(100% * 5 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-5 {
		width: calc(50% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-5 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-6 {
	float: left;
	width: calc(100% * 6 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-6 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-6 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-7 {
	float: left;
	width: calc(100% * 7 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-7 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-7 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-8 {
	float: left;
	width: calc(100% * 8 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-8 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-8 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-9 {
	float: left;
	width: calc(100% * 9 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-9 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-9 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-10 {
	float: left;
	width: calc(100% * 10 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-10 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-10 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-11 {
	float: left;
	width: calc(100% * 11 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-11 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-11 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.col-12 {
	float: left;
	width: calc(100% * 12 / 12 - 1em);
	margin-right: calc(1em / 2);
	margin-left: calc(1em / 2 + 100% * 0 / 12);
}

@media screen and (max-width: 56em) {
	.col-12 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

@media screen and (max-width: 40em) {
	.col-12 {
		width: calc(100% - 1em);
		margin-left: calc(1em / 2);
	}
}

.pull-1 {
	margin-left: calc(1 / 12 * 100%);
}

.pull-2 {
	margin-left: calc(2 / 12 * 100%);
}

.pull-3 {
	margin-left: calc(3 / 12 * 100%);
}

.pull-4 {
	margin-left: calc(4 / 12 * 100%);
}

.pull-5 {
	margin-left: calc(5 / 12 * 100%);
}

.pull-6 {
	margin-left: calc(6 / 12 * 100%);
}

.pull-7 {
	margin-left: calc(7 / 12 * 100%);
}

.pull-8 {
	margin-left: calc(8 / 12 * 100%);
}

.pull-9 {
	margin-left: calc(9 / 12 * 100%);
}

.pull-10 {
	margin-left: calc(10 / 12 * 100%);
}

.pull-11 {
	margin-left: calc(11 / 12 * 100%);
}

.pull-12 {
	margin-left: calc(12 / 12 * 100%);
}

.rocket {
	padding-right: 5em;
	background-image: url("../img/rocket.svg");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 5em;
}

.mobile {
	padding-right: 3em;
	background-image: url("../img/moblet.svg");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 3em;
}
